<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone.js Travel Route</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/lib/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/lib/bootstrap.icon-large.min.css" >
    <link rel="stylesheet" href="css/base.css"/>

    <!-- Scripts -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/ejs-min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/moment-min.js"></script>
    <script src="js/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="js/lib/backbone.localStorage-min.js"></script>
    <script src="js/lib/d3.v3.min.js"></script>
    <script src="js/lib/d3-timeline.js"></script>
    <script src="js/route.js"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Travel Route</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Table View</a></li>
            <li><a href="#timeline">Timeline View</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Info <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Docs</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main container -->
    <div class="container" id="app">
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Test project created by</span>
            <a>Iryna Rushchyshyn</a>
        </div>
    </footer>
  
    <!-- Templates -->
    <script type="text/template" id="table-view">
        <!-- Add new panel -->
        <section id="new">
            <form class="form-inline" role="form" id="new-item">
                    <div class="col-md-2">
                        <select class="form-control selectpicker" name="by" title='Choose the type of transport'>
                            <option value="bus">Bus</option>
                            <option value="train">Train</option>
                            <option value="plane">Plane</option>
                            <option value="car">Car</option>
                            <option value="boat">Boat</option>
                            <option value="shopping-cart">Else</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="from" placeholder="From" required/>
                    </div>
                    <div class="col-md-2">
                        <input type='text' class="form-control datetime" name="departure" placeholder="Departure" required/>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="to" placeholder="To" required>
                    </div>
                    <div class="col-md-2">
                        <input type='text' class="form-control datetime" name="arrival" placeholder="Arrival" required/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn add">Add</button>
                    </div>
                <div>
            </form>
        </section>

        <!-- Routes -->
        <div id="routeapp">
            <section id="main"><!-- 
                <div class="col-md-2">Transport</div>
                <div class="col-md-2">From</div>
                <div class="col-md-2">Departure Date&Time</div>
                <div class="col-md-2">To</div>
                <div class="col-md-2">Arrival Date&Time</div>
                <div class="col-md-2">Remove</div> -->
                <div id="route-list"></div>
            </section>

            <footer>
                <a id="remove-all">Remove all</a>
                <div id="routes-count"></div>
            </footer>

        </div>
    </script>

    <script type="text/template" id="timeline-view">
        <div id="timeline"></div>
        <div id="hoverRes">
            <div class="coloredDiv"></div>
            <div id="name"></div>
            <div id="scrolled_date"></div>
        </div>
    </script>

    <script type="text/template" id="item-template">
        <div class="col-md-2 td-by">
            <i class="icon-large icon-<%- by %>"></i><span class="glyphicon glyphicon-pencil pencil">
        </div>
        <div class="col-md-2 td-from"><%- from %><span class="glyphicon glyphicon-pencil pencil"></div>
        <div class="col-md-2 td-departure"><%- departure %><span class="glyphicon glyphicon-pencil pencil"></div>
        <div class="col-md-2 td-to"><%- to %><span class="glyphicon glyphicon-pencil pencil"></div>
        <div class="col-md-2 td-arrival"><%- arrival %><span class="glyphicon glyphicon-pencil pencil"></div>
        <div class="col-md-2">
            <span class="glyphicon glyphicon-remove destroy"></span>
        </div>
    </script>

    <script type="text/template" id="edit-select-template">
        <select class="form-control selectpicker" id="by">
            <% for (el in this.model.selectOptions) { %>
            <option value="<%- el %>" <% if (el == by) { %>selected<% } %>><%- this.model.selectOptions[el] %></option>
            <% } %>
        </select>
        <span class="glyphicon glyphicon-ok ok">
    </script>

    <script type="text/template" id="edit-input-template">
        <input type="text" class="form-control" id="<%- id %>" value="<%- value %>" required/>
        <span class="glyphicon glyphicon-ok ok">
    </script>

    <script type="text/template" id="edit-datetime-template">
        <div class='input-group date datetime'>
            <input type="text" class="form-control datetime" id="<%- id %>" value="<%- value %>" required/>
        </div>
        <span class="glyphicon glyphicon-ok ok">
    </script>

  </body>
</html>
