html {
  position: relative;
  min-height: 100%;
  text-align: center;
}

body {
  padding-top: 70px;
  background-color: #eee;
}

* {
  border-radius: 0 !important;
}

.axis {
  path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
    font-family: sans-serif;
    font-size: 10px;
  }
}
.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}    
.coloredDiv {
  height:20px; width:20px; float:left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

#routeapp {
  #main {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
  }
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  [type="text"] {
    outline: none;
    max-width: 150px;
    display: inline-flex;
    text-align: center;
    box-shadow: none;
  }
  .date {
    display: inline-flex;
  }
  footer {
    margin: 0 -20px -20px -20px;
    overflow: hidden;
    color: #555555;
    background: #f4fce8;
    border-top: 1px solid #ededed;
    padding: 0 20px;
    line-height: 37px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    a#remove-all {
      cursor: pointer;
    }
  }
}

#new {
  .selectpicker {
    width: 100%;
    text-align: center;
  }
  input[type="text"] {
    outline: none;
    width: 100%;
    text-align: center;
    box-shadow: none;
  }
  padding: 20px 20px 50px 20px;
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  div {
    padding: 0;
  }
  .add {
    width: 100%;
    height: 100%;
    color: #FFF;
    background: #4BC800 none repeat scroll 0% 0% !important;
    box-shadow: 0px -2px 0px #45B900 inset !important;
    &:hover {
      background: #47BE00 none repeat scroll 0% 0% !important;
      background-color: #47BE00;
      background-image: none;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0% 0%;
      background-clip: border-box;
      background-origin: padding-box;
      background-size: auto auto;
    }
  }
}

#route-list {
  > div:not(:first-child) {
      border-top: 1px solid #ddd;
    }
  .selectpicker {
    display: inline-block;
    width: 80%;
    text-align: center;
  }
  .destroy {
    visibility: hidden;
    cursor: pointer;
  }
  .pencil {
    visibility: hidden;
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
  }
  .ok {
    cursor: pointer;
  }
  div.row {
    margin-left: 0;
    margin-right: 0;
    > div {
      padding: 0;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    input[type="text"], select {
      height: 29px;
    }
  }
  div.row:hover {
    background-color: #F5F5F0;
    .destroy {
      visibility: visible;
    }
  }
  div:hover > .pencil {
    visibility: visible;
  }
  .destroy:hover, .ok:hover, {
    background-position: 0 -20px;
  }
}
